Ячейка 1. Импорт и настройки

In [1]:
import pandas as pd
import numpy as np

# Настройки отображения
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 120)

Ячейка 2. Загрузка данных и первичный просмотр

In [2]:
# Загружаем CSV
df = pd.read_csv("../data/raw/diabetic_data_DSMED.csv")

# Посмотрим первые строки
display(df.head())

# Информация о столбцах и типах
df.info()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide - metformin,glipizide - metformin,glimepiride - pioglitazone,metformin - rosiglitazone,metformin - pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0 - 10),?,6,25,1,1,?,Pediatrics - Endocrinology,41,0,1,0,0,0,250.83,?,?,1,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10 - 20),?,1,1,7,3,?,?,59,0,18,0,0,0,276,250.01,255,9,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20 - 30),?,1,1,7,2,?,?,11,5,13,2,0,1,648,250,V27,6,NaN,NaN,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30 - 40),?,1,1,7,2,?,?,44,1,16,0,0,0,8,250.43,403,7,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40 - 50),?,1,1,7,1,?,?,51,0,8,0,0,0,197,157,250,5,NaN,NaN,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non - Null Count   Dtype
 -  -  -    -  -  -  -  -  -                      -  -  -  -  -  -  -  -  -  -  -  -  -  -     -  -  -  -  -
 0   encounter_id              101766 non - null  int64
 1   patient_nbr               101766 non - null  int64
 2   race                      101766 non - null  object
 3   gender                    101766 non - null  object
 4   age                       101766 non - null  object
 5   weight                    101766 non - null  object
 6   admission_type_id         101766 non - null  int64
 7   discharge_disposition_id  101766 non - null  int64
 8   admission_source_id       101766 non - null  int64
 9   time_in_hospital          101766 non - null  int64
 10  payer_code                101766 non - null  object
 11  medical_specialty         101766 non - null  object
 12  num_lab_procedures        101766 non - null  int64
 13  num_procedures            101766 non - null  int64
 14  num_medications           101766 non - null  int64
 15  number_outpatient         101766 non - null  int64
 16  number_emergency          101766 non - null  int64
 17  number_inpatient          101766 non - null  int64
 18  diag_1                    101766 non - null  object
 19  diag_2                    101766 non - null  object
 20  diag_3                    101766 non - null  object
 21  number_diagnoses          101766 non - null  int64
 22  max_glu_serum             5346 non - null    object
 23  A1Cresult                 17018 non - null   object
 24  metformin                 101766 non - null  object
 25  repaglinide               101766 non - null  object
 26  nateglinide               101766 non - null  object
 27  chlorpropamide            101766 non - null  object
 28  glimepiride               101766 non - null  object
 29  acetohexamide             101766 non - null  object
 30  glipizide                 101766 non - null  object
 31  glyburide                 101766 non - null  object
 32  tolbutamide               101766 non - null  object
 33  pioglitazone              101766 non - null  object
 34  rosiglitazone             101766 non - null  object
 35  acarbose                  101766 non - null  object
 36  miglitol                  101766 non - null  object
 37  troglitazone              101766 non - null  object
 38  tolazamide                101766 non - null  object
 39  examide                   101766 non - null  object
 40  citoglipton               101766 non - null  object
 41  insulin                   101766 non - null  object
 42  glyburide - metformin       101766 non - null  object
 43  glipizide - metformin       101766 non - null  object
 44  glimepiride - pioglitazone  101766 non - null  object
 45  metformin - rosiglitazone   101766 non - null  object
 46  metformin - pioglitazone    101766 non - null  object
 47  change                    101766 non - null  object
 48  diabetesMed               101766 non - null  object
 49  readmitted                101766 non - null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

 Ячейка 3. Описательная статистика по числовым признакам

In [3]:
# Базовая статистика
stats = df.describe().T
display(stats)

,count,mean,std,min,25%,50%,75%,max
encounter_id,101766.0,1.652016e+08,1.026403e+08,12522.0,84961194.0,152388987.0,2.302709e+08,443867222.0
patient_nbr,101766.0,5.433040e+07,3.869636e+07,135.0,23413221.0,45505143.0,8.754595e+07,189502619.0
admission_type_id,101766.0,2.024006e+00,1.445403e+00,1.0,1.0,1.0,3.000000e+00,8.0
discharge_disposition_id,101766.0,3.715642e+00,5.280166e+00,1.0,1.0,1.0,4.000000e+00,28.0
admission_source_id,101766.0,5.754437e+00,4.064081e+00,1.0,1.0,7.0,7.000000e+00,25.0
time_in_hospital,101766.0,4.395987e+00,2.985108e+00,1.0,2.0,4.0,6.000000e+00,14.0
num_lab_procedures,101766.0,4.309564e+01,1.967436e+01,1.0,31.0,44.0,5.700000e+01,132.0
num_procedures,101766.0,1.339730e+00,1.705807e+00,0.0,0.0,1.0,2.000000e+00,6.0
num_medications,101766.0,1.602184e+01,8.127566e+00,1.0,10.0,15.0,2.000000e+01,81.0
number_outpatient,101766.0,3.693572e - 01,1.267265e+00,0.0,0.0,0.0,0.000000e+00,42.0
number_emergency,101766.0,1.978362e - 01,9.304723e - 01,0.0,0.0,0.0,0.000000e+00,76.0
number_inpatient,101766.0,6.355659e - 01,1.262863e+00,0.0,0.0,0.0,1.000000e+00,21.0
number_diagnoses,101766.0,7.422607e+00,1.933600e+00,1.0,6.0,8.0,9.000000e+00,16.0

Ячейка 4. Поиск и замена “?”

In [4]:
# Считаем, сколько “?” в каждом столбце
q_counts = {col: (df[col] == '?').sum() for col in df.columns}
q_counts = {k:v for k,v in q_counts.items() if v>0}
print("Столбцы с '?' и их количество:\n", q_counts)

# Заменяем все '?' на NaN
df.replace('?', np.nan, inplace=True)

Столбцы с '?' и их количество:
 {'race': np.int64(2273), 'weight': np.int64(98569), 'payer_code': np.int64(40256), 'medical_specialty': np.int64(49949), 'diag_1': np.int64(21), 'diag_2': np.int64(358), 'diag_3': np.int64(1423)}

Ячейка 5. Оценка доли пропусков и удаление столбцов с >80 % NaN

In [5]:
# Процент пропусков
missing_pct = df.isna().mean().mul(100).round(2)
display(missing_pct[missing_pct>0])

# Столбцы с >80% пропусков
to_drop = missing_pct[missing_pct > 80].index.tolist()
print("Удаляем столбцы с >80% пропусков:", to_drop)

# Удаляем
df.drop(columns=to_drop, inplace=True)

race                  2.23
weight               96.86
payer_code           39.56
medical_specialty    49.08
diag_1                0.02
diag_2                0.35
diag_3                1.40
max_glu_serum        94.75
A1Cresult            83.28
dtype: float64

Удаляем столбцы с >80% пропусков: ['weight', 'max_glu_serum', 'A1Cresult']

Ячека 6. Заполнение оставшихся пропусков

In [6]:
# Список категориальных, где пропуски заполняем 'Unknown'
fill_cols = ['race','payer_code','medical_specialty','diag_1','diag_2','diag_3']
for col in fill_cols:
    df[col] = df[col].fillna('Unknown')

# Проверим, что пропусков больше нет
print("Осталось NaN:", df.isna().sum().sum())

Осталось NaN: 0

Ячейка 7. Преобразование age в числовой формат

In [7]:
# Функция для перевода "[70 - 80)"  - > 75
def age_to_mean(age_str):
    lo, hi = age_str.strip('[]()').split(' - ')
    return (int(lo) + int(hi)) / 2

df['age_num'] = df['age'].apply(age_to_mean)

# Смотрим распределение нового признака
display(df['age_num'].describe())

count    101766.000000
mean         65.967022
std          15.940838
min           5.000000
25%          55.000000
50%          65.000000
75%          75.000000
max          95.000000
Name: age_num, dtype: float64

Ячейка 8. Удаление служебных столбцов

In [9]:
# Эти столбцы не будут использоваться в моделях
drop_meta = ['encounter_id', 'patient_nbr', 'age']
df.drop(columns=drop_meta, inplace=True)

# Финальная проверка структуры
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 45 columns):
 #   Column                    Non - Null Count   Dtype
 -  -  -    -  -  -  -  -  -                      -  -  -  -  -  -  -  -  -  -  -  -  -  -     -  -  -  -  -
 0   race                      101766 non - null  object
 1   gender                    101766 non - null  object
 2   admission_type_id         101766 non - null  int64
 3   discharge_disposition_id  101766 non - null  int64
 4   admission_source_id       101766 non - null  int64
 5   time_in_hospital          101766 non - null  int64
 6   payer_code                101766 non - null  object
 7   medical_specialty         101766 non - null  object
 8   num_lab_procedures        101766 non - null  int64
 9   num_procedures            101766 non - null  int64
 10  num_medications           101766 non - null  int64
 11  number_outpatient         101766 non - null  int64
 12  number_emergency          101766 non - null  int64
 13  number_inpatient          101766 non - null  int64
 14  diag_1                    101766 non - null  object
 15  diag_2                    101766 non - null  object
 16  diag_3                    101766 non - null  object
 17  number_diagnoses          101766 non - null  int64
 18  metformin                 101766 non - null  object
 19  repaglinide               101766 non - null  object
 20  nateglinide               101766 non - null  object
 21  chlorpropamide            101766 non - null  object
 22  glimepiride               101766 non - null  object
 23  acetohexamide             101766 non - null  object
 24  glipizide                 101766 non - null  object
 25  glyburide                 101766 non - null  object
 26  tolbutamide               101766 non - null  object
 27  pioglitazone              101766 non - null  object
 28  rosiglitazone             101766 non - null  object
 29  acarbose                  101766 non - null  object
 30  miglitol                  101766 non - null  object
 31  troglitazone              101766 non - null  object
 32  tolazamide                101766 non - null  object
 33  examide                   101766 non - null  object
 34  citoglipton               101766 non - null  object
 35  insulin                   101766 non - null  object
 36  glyburide - metformin       101766 non - null  object
 37  glipizide - metformin       101766 non - null  object
 38  glimepiride - pioglitazone  101766 non - null  object
 39  metformin - rosiglitazone   101766 non - null  object
 40  metformin - pioglitazone    101766 non - null  object
 41  change                    101766 non - null  object
 42  diabetesMed               101766 non - null  object
 43  readmitted                101766 non - null  object
 44  age_num                   101766 non - null  float64
dtypes: float64(1), int64(11), object(33)
memory usage: 34.9+ MB

Ячейка 9. Сохраняем очищенный DF

In [10]:
import os
os.makedirs("../data/processed", exist_ok=True)
df.to_csv("../data/processed/df_clean.csv", index=False)